[Desktop Entry]
MimeType=text/x-v3d;
Name=Reader
GenericName=Document viewer
Comment=Viewer for various types of documents
TryExec=okularkirigami
Exec=okularkirigami %u
Terminal=false
Icon=okular
Type=Application
Categories=Qt;KDE;Graphics;Office;Viewer;
InitialPreference=2
NoDisplay=true
X-KDE-Keywords=v3d
X-KDE-AliasFor=org.kde.okular.kirigami.desktop
